@import "tailwindcss";

@theme {
	/* Colors */
	--color-background: oklch(0.145 0 0);
	--color-foreground: oklch(0.985 0 0);

	--color-card: oklch(0.205 0 0);
	--color-card-foreground: oklch(0.985 0 0);

	--color-primary: oklch(0.922 0.14 250);
	--color-primary-foreground: oklch(0.21 0.034 264.665);

	--color-secondary: oklch(0.269 0 0);
	--color-secondary-foreground: oklch(0.985 0 0);

	--color-muted: oklch(0.269 0 0);
	--color-muted-foreground: oklch(0.708 0 0);

	--color-accent: oklch(0.269 0 0);
	--color-accent-foreground: oklch(0.985 0 0);

	--color-destructive: oklch(0.704 0.191 22.216);
	--color-destructive-foreground: oklch(0.985 0 0);

	--color-border: oklch(1 0 0 / 0.1);
	--color-input: oklch(0.269 0 0);
	--color-ring: oklch(0.556 0.215 252.801);

	/* Border radius */
	--radius-sm: 0.25rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;

	/* Fonts */
	--font-sans:
		ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	--font-mono:
		ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono",
		monospace;
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-sans);
}
